# Python Data Types
In Python, data types are the classification of data items. Python has several built-in data types that allow you to work with various kinds of data. Understanding these data types is crucial as it helps you to perform the right operations on the right kind of data. Here's an overview of the main data types in Python:

## 1. Numeric Types

* Integer (int)

Whole numbers, positive or negative, without decimals.

Example: 5, -3, 100

In [1]:
age : int = 25
year : int = 2024

* Floating-Point Number (float)

Numbers with a decimal point.

Example: 5.0, -3.14, 0.001

In [2]:
price : float = 19.99
temperature : float = -5.4

* Complex Number (complex)

Numbers with a real and an imaginary part.

Example: 1 + 2j, 3 - 4j

In [ ]:
complex_num : complex = 2 + 3j

## 2. Sequence Types

* String (str)

A sequence of characters enclosed in single quotes, double quotes, or triple quotes.

Example: 'single quoted string', "double quoted string", """This is Triple quoted string"""

In [3]:
single_quoted_string : str = 'Hello_world'
double_quoted_string : str = "Hello_world"
triple_quoted_string : str = """Hello_world"""
print(single_quoted_string, double_quoted_string, triple_quoted_string) # you can print all variable in a single print function by , seprated

Hello_world Hello_world Hello_world

* List (list)

An ordered, mutable collection of items. Items can be of different types.

Example: [1, 2, 3], ["apple", "banana", "cherry"]

In [4]:
fruits : list = ["apple", "banana", "cherry"]
numbers : list = [1, 2, 3, 4, 5]
itmes : list = ["mobile", "cars", 123, True]
print(itmes)

['mobile', 'cars', 123, True]

* Tuple (tuple)

An ordered, immutable collection of items. Items can be of different types.

Example: (1, 2, 3), ("apple", "banana", "cherry")

In [9]:
coordinates : tuple= (10.0, 20.0)
colors : tuple = ("red", "green", "blue", "yellow")
print(colors)

('red', 'green', 'blue', 'yellow')

* Range (range)

Represents an immutable sequence of numbers, commonly used for looping a specific number of times.

Example: range(5), range(1, 10, 2)

In [15]:
numbers : range= range(5)
print(numbers)
number01 : range = range(1, 10)
print(number01)

range(0, 5)
range(1, 10)

# 2. Mapping Type

* Dictionary (dict)

An unordered collection of key-value pairs. Keys are unique and immutable.

Example: {"name": "Alice", "age": 25}, {1: "one", 2: "two"}

In [18]:
person : dict = {"name": "Alice", "age": 25}
phone_book : dict = {"John": "123-4567", "Jane": "987-6543"}
order : dict = {"id_1":1, "id_2": 2, "id_3" : 3} # key is alwas unique
print(person)
print(order)

{'name': 'Alice', 'age': 25}
{'id_1': 1, 'id_2': 2, 'id_3': 3}

# 4. Set Types

* Set (set)

An unordered collection of unique items.

Example: {1, 2, 3}, {"apple", "banana", "cherry"}

In [23]:
unique_numbers : set = {1, 2, 3, 4, 5, "banana", "cherry"}
fruits : set = {"apple", "banana", "cherry"}
print(unique_numbers)

{1, 2, 3, 4, 5, 'banana', 'cherry'}

* Frozen Set (frozenset)

An immutable version of a set.

Example: frozenset([1, 2, 3])

In [26]:
frozen_numbers = frozenset([1, 2, 3, 4, 5])
print(frozen_numbers)

frozenset({1, 2, 3, 4, 5})

# 5. Boolean Type

* Boolean (bool)

Represents one of two values: True or False.

Example: True, False

In [28]:
is_active = True
is_admin = False
print(is_active)
print(is_admin)

True
False

## Type Conversion
You can convert between different data types using built-in functions:

In [29]:
# Convert integer to float
a : int = 5
b = float(a)  # 5.0

# Convert float to integer
c : float = 3.14
d = int(c)  # 3

# Convert integer to string
e : int = 10
f = str(e)  # "10"

# Convert string to integer
g : str = "123"
h = int(g)  # 123

# Convert string to list
i : str= "hello"
j = list(i)  # ['h', 'e', 'l', 'l', 'o']
print(a,b,c,d,e,f,g,h,i,j)

5 5.0 3.14 3 10 10 123 123 hello ['h', 'e', 'l', 'l', 'o']

## Conclusion
Understanding Python's data types is crucial for effective programming. Each data type serves a specific purpose and knowing when and how to use them will help you write better and more efficient code. Practice using these data types to become familiar with their behavior and functionalities.